<ion-content [fullscreen]="true">
    <!-- Main content section -->
    <div class="container-lg-12 md-12 update_password">
        <!-- Top bar section -->
        <div id="managerX_admin-current_passwordtopBar_section" class="top_bar_section">
            <!-- Title section -->
            <div id="managerX_admin-current_passwordtitle_label" class="page_title">Update Password</div>
            <!-- End of Title section -->
        </div>
        <!-- End of Top bar section -->


        <!-- Content section -->
        <div class="custom-padding-5px bg-content">

            <!-- Sub heading section -->
            <div class="row col-12">
                <!-- Title section -->
                <div id="managerX_admin-current_passwordsub-title_label" class="sub_page_title">Password Setting</div>
                <!-- End of Title section -->

                <!-- Sub Title section -->
                <div id="managerX_admin-current_passwordsub-title_label" class="sub_page_title_description">(Once the
                    password is changed
                    you will receive an email)</div>
                <!-- End of Sub Title section -->
            </div>
            <!-- End of Sub heading section -->

            <!-- Current Password section -->
            <div class="col-12 each_content_row_section">
                <!-- Title section -->
                <div id="managerX_admin-current_passwordname-title_label" class="col-12 title_section">
                    <span class="title_lbl">Current Password</span>
                </div>
                <!-- End of Title section -->

                <!-- User prompt section -->
                <div class="col-12 display_flex_center">
                    <!-- First name section -->
                    <div class="col-6 padding_right_6">
                        <input id="managerX_admin-current_passwordfirst-name_input" type="password"
                            placeholder="Enter Your Current Password" [(ngModel)]='userPromptCurrentPassword'>
                        <!-- Error Message -->
                        <div id="managerX_admin-current_passwordfirst-name-error_label"
                            class="col-12 no-side-padding error_message"
                            *ngIf="CheckErrorCode('EMPTY$CURRENT_PASSWORD')">
                            <span
                                id="managerX_admin-current_passwordfirst-name-error_message">{{CheckErrorCode('EMPTY$CURRENT_PASSWORD')!.ErrorMessage}}</span>
                        </div>
                        <!-- End of Error Message -->

                        <!-- Error Message -->
                        <div id="managerX_admin-current_passwordfirst-name-error_label"
                            class="col-12 no-side-padding error_message"
                            *ngIf="CheckErrorCode('ERROR$CURRENT_PASSWORD')">
                            <span
                                id="managerX_admin-current_passwordfirst-name-error_message">{{CheckErrorCode('ERROR$CURRENT_PASSWORD')!.ErrorMessage}}</span>
                        </div>
                        <!-- End of Error Message -->
                    </div>
                    <!-- End of First name section -->
                </div>
                <!-- End of User prompt section -->
            </div>
            <!-- End of Current Password section section -->

            <!-- New Password section -->
            <div class="col-12 each_content_row_section">
                <!-- Title section -->
                <div id="managerX_admin-current_passwordname-title_label" class="col-12 title_section">
                    <span class="title_lbl">New Password</span>
                </div>
                <!-- End of Title section -->

                <!-- User prompt section -->
                <div class="col-12 display_flex_center">
                    <!-- First name section -->
                    <div class="col-6 padding_right_6">
                        <input id="managerX_admin-current_passwordfirst-name_input" type="password"
                            placeholder="Enter Your New Password" [(ngModel)]='newPassword'>
                        <!-- Error Message -->
                        <div id="managerX_admin-current_passwordfirst-name-error_label"
                            class="col-12 no-side-padding error_message" *ngIf="CheckErrorCode('EMPTY$NEW_PASSWORD')">
                            <span
                                id="managerX_admin-current_passwordfirst-name-error_message">{{CheckErrorCode('EMPTY$NEW_PASSWORD')!.ErrorMessage}}</span>
                        </div>
                        <!-- End of Error Message -->
                    </div>
                    <!-- End of First name section -->
                </div>
                <!-- End of User prompt section -->

                <!-- password strength section-->
                <div class="col-12 display_flex_center">
                    <div class="col-6 padding_right_6">
                        <app-password-strength #passwordStrength [passwordToCheck]="newPassword"
                            (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
                    </div>
                </div>
                <!-- End of password strength section-->
            </div>
            <!-- End of New Password section section -->

            <!-- Buttons section -->
            <div class="display_flex_center buttons_section">
                <button id="managerX_admin-checklist_subtask-submit_button" class="create_btn"
                    (click)="updatePasswordOnClick()">Submit</button>
                <button id="managerX_admin-checklist_subtask-cancel_button" class="cancel_btn"
                    (click)="cancelOnClick()">Cancel</button>
            </div>
            <!-- End of Buttons section -->

        </div>
        <!-- End of Content section -->

    </div>
    <!-- End of Main content section -->
</ion-content>