.update_password {
    padding: 20px;
    padding-top: 30px;

    .top_bar_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
    }

    .page_title {
        font-size: 17pt;
        font-weight: 600;
    }

    .sub_page_title {
        color: #000000 !important;
        font-size: 13pt;
        font-weight: 600;
    }

    .sub_page_title_description {
        color: #f44336 !important;
        font-size: 10pt;
        font-weight: 600;
        font-style: italic;
    }

    .each_content_row_section {
        padding-top: 12px;
        font-size: 10pt;
        padding-bottom: 6px;
        .title_lbl {
            font-weight: 600;
        }

        .title_section {
            margin-bottom: 16px;
        }

        input {
            width: 100%;
            height: 46px;
            border-radius: 7px;
            border-color: #e0e0e0;
            border-width: 1px;
            padding: 12px;
        }
    }

    .padding_right_6 {
        padding-right: 12px;
    }

    .padding_left_6 {
        padding-left: 12px;
    }

    .create_btn {
        height: 30px;
        border: solid 1px #4d86d8;
        color: #4d86d8;
        border-radius: 6px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .cancel_btn {
        height: 30px;
        border: solid 1px #f44336;
        color: #f44336;
        border-radius: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .buttons_section {
        margin-top: 20px;
    }
}
