<ion-content [fullscreen]="true">
    <!-- Main content section -->
    <div class="container-lg-12 md-12 notifications">
        <!-- Top bar section -->
        <div class="top_bar_section">
            <!-- Title section -->
            <div id="managerX_project-manager-notifications_page-title_label" class="page_title">Notifications</div>
            <!-- End of Title section -->

            <!-- Search icon box -->
            <p-iconField class="custom-icon-field">
                <div class="input-container">
                    <p-inputIcon id="managerX_project-manager-notifications_search-icon_icon"
                        class="pi pi-search search-icon"></p-inputIcon>
                    <input id="managerX_project-manager-notifications_search-query_input" type="text" pInputText
                        placeholder="Search" class="custom-search-box" [(ngModel)]="currentFilter.SearchQuery"
                        (input)="currentFilter.CurrentPage=1;GetAllNotificationDetails()" />
                </div>
            </p-iconField>
            <!-- End of Search icon box -->
        </div>
        <!-- End of Top bar section -->

        <!-- Content section -->
        <div class="row col-12 notification_section  ">
            <!-- Loop through the notifications list -->
            <div id="managerX_project-manager-notifications_each-notification_bar" class="col-12 each_notification_bar"
                *ngFor="let notifications of notificationsList">
                <!-- Icon section -->
                <div id="managerX_project-manager-notifications_notification-type_icon" class="icon_section">
                    <i [class]="notifications.NotificationTypeIcon" aria-hidden="true"></i>
                </div>
                <!-- End of Icon section -->

                <!-- Description section -->
                <div id="managerX_project-manager-notifications_description_section" class="description_section">
                    <!-- First row section -->
                    <div id="managerX_project-manager-notifications_first-row_section" class="first_row_section">
                        <span id="managerX_project-manager-notifications_first-name_span">{{notifications.FirstName}}
                            {{notifications.LastName}}</span>
                        <span id="managerX_project-manager-notifications_notification-description_span">
                            {{notifications.NotificationDescription}}</span>
                        <span id="managerX_project-manager-notifications_upload-extra-data_span"
                            *ngIf="notifications.NotificationType == 'UPLOAD'"> {{notifications.ExtraData}} attachments
                            in</span>
                        <span id="managerX_project-manager-notifications_assign-task_span"
                            *ngIf="notifications.NotificationType == 'ASSIGN_TASK'">
                            {{checkAssignTaskUsername(notifications.ExtraData)}} a new
                            task</span>
                        <span id="managerX_project-manager-notifications_stage-label_span" class="stage_lbl"
                            [ngClass]="notifications.StatusCode"> {{notifications.TaskName}} -
                            {{notifications.SubStageCategoryName}} -
                            {{notifications.SubStageName}}</span>
                    </div>
                    <!-- End of First row section -->

                    <!-- Second row section -->
                    <div id="managerX_project-manager-notifications_second-row_section" class="second_row_section">
                        <span id="managerX_project-manager-notifications_time-part_span"
                            class="time_part">{{notifications.AddedDate | date: 'hh:mm ' }}</span>
                        <span id="managerX_project-manager-notifications_added-date_span">{{notifications.AddedDate |
                            date:
                            'dd MMM yyyy ' }}</span>
                    </div>
                    <!-- End of Second row section -->
                </div>
                <!-- End of Description section -->
            </div>
            <!-- End of Loop through the notifications list -->

            <!-- When the notifications are empty -->
            <div id="managerX_project-manager-notifications_empty-notifications_div"
                *ngIf="notificationsList.length == 0">
                <div colspan="9" class="empty_content">
                    There are no records to display
                </div>
            </div>
            <!-- End of When the notifications are empty -->

            <!-- Pagination section -->
            <p-paginator class="paginator_sec" #modulePaginator
                id="managerX_project-manager-notifications_pagination_section"
                *ngIf="notificationsList && notificationsList.length > 0 && notificationsList[0].TotalRecords > currentFilter.RecordsPerPage"
                [ngClass]="(notificationsList && notificationsList.length > 0 && notificationsList[0].TotalRecords > currentFilter.RecordsPerPage)?'':'display_hide'"
                [rows]="currentFilter.RecordsPerPage" (onPageChange)="onChangeTaskPaginator($event)"
                [totalRecords]="(notificationsList.length>0)? notificationsList[0].TotalRecords:0"></p-paginator>
            <!-- End of Pagination section -->
        </div>
        <!-- End of Content section -->

    </div>
    <!-- End of Main content section -->
</ion-content>