<ion-content [fullscreen]="true">
    <!--Alert confirmation-->
    <div id="managerX_alert-confirmation_alertBox_Section" class="row col-12 alert-box-section">
        <div id="managerX_alert-confirmation_noSidePaddingConfirmType_Alert"
            class="col-12 no-side-padding confirm-type-alert">
            <!-- Title section -->
            <div id="managerX_alert-confirmation_title_section"
                class="col-12 no-side-padding marginBottom5 message_section">
                <span>Successfully Updated</span>
            </div>
            <!-- End of Title section -->

            <!-- Buttons section -->
            <div id="managerX_alert-confirmation_buttons_section"
                class="col-12 no-side-padding  display-flex-center buttons-section" id="CRM_Confirm_Buttons">

                <!-- Update button -->
                <button id="managerX_alert-confirmation_goBack_button" class="updateBtn" (click)="okClickEvent(false)"
                    id="CRM_Confirm_Buttons_Delete_BUTTON">Go
                    back</button>
                <!-- End of Update button -->

            </div>
            <!-- End of Buttons section -->

        </div>
    </div>
    <!--End of Alert confirmation-->
</ion-content>