<ion-content [fullscreen]="true">
    <!-- Main content section -->
    <div class="container-lg-12 md-12 projects">
        <!-- Top bar section -->
        <div class="top_bar_section">
            <!-- Title section -->
            <div id="managerX_project-manager-projects_page-title_display-table" class="page_title"
                *ngIf="currentState == 'DISPLAY_TABLE'">Project Overview</div>
            <!-- End of Title section -->

            <!-- Display the project name -->
            <div class="display_project_name" *ngIf="currentClientDetails && currentState == 'PROJECT'">
                <!-- Arrow section -->
                <div id="managerX_project-manager-projects_back-button_button" class="back_icon"
                    (click)="goBackOnClick()">
                    <i id="managerX_project-manager-projects_back-button-icon_icon" class="fa fa-angle-left"
                        aria-hidden="true"></i>
                </div>
                <!-- End of Arrow section -->

                <!-- Name section -->
                <div>
                    <div id="managerX_project-manager-projects_client-name_display" class="page_title">
                        {{currentClientDetails.FirstName}} {{currentClientDetails.LastName}}</div>
                    <div id="managerX_project-manager-projects_client-address_display" class="address_lbl">
                        {{currentClientDetails.Address}}</div>
                </div>
                <!-- End of Name section -->
            </div>
            <!-- End of Display the project name -->

            <!-- Search icon box -->
            <p-iconField id="managerX_project-manager-projects_search-icon_iconField" class="custom-icon-field">
                <div id="managerX_project-manager-projects_search-icon_container" class="input-container">
                    <p-inputIcon id="managerX_project-manager-projects_search-icon_inputIcon"
                        class="pi pi-search search-icon"></p-inputIcon>
                    <input id="managerX_project-manager-projects_search-icon_input" type="text" pInputText
                        placeholder="Search" class="custom-search-box" [(ngModel)]="currentFilter.SearchQuery"
                        (input)="currentFilter.CurrentPage=1;GetAllClientListDetails();" />
                </div>
            </p-iconField>
            <!-- End of Search icon box -->
        </div>
        <!-- End of Top bar section -->

        <!-- projects table section -->
        <div id="managerX_project-manager-projects_project-list_table" class="col-12"
            *ngIf="currentState == 'DISPLAY_TABLE'">
            <!-- Current prime ng table section -->
            <p-table [value]="clientList">
                <!-- Headers section -->
                <ng-template pTemplate="header">
                    <tr id="managerX_project-manager-projects_table-header_row" class="table_header_section">
                        <th id="managerX_project-manager-projects_name-header_table"
                            class="header_label_span person_col">{{'CL' | appUpdateUserType}} Name</th>
                        <th id="managerX_project-manager-projects_address-header_table"
                            class="header_label_span person_col">Address</th>
                        <th id="managerX_project-manager-projects_stage-header_table"
                            class="header_label_span person_col">Current Stage</th>
                        <th id="managerX_project-manager-projects_task-header_table"
                            class="header_label_span person_col">Current task</th>
                        <th id="managerX_project-manager-projects_due-date-header_table"
                            class="header_label_span person_col">Due Date</th>
                        <th id="managerX_project-manager-projects_phone-header_table"
                            class="header_label_span contact_email_col">Phone Number</th>
                    </tr>
                </ng-template>
                <!-- End of Headers section -->

                <!-- Table body content section -->
                <ng-template pTemplate="body" let-project>
                    <tr id="managerX_project-manager-projects_project_Tablerow" class="current-tr"
                        (click)="projectOnClick(project.Id)">
                        <td id="managerX_project-manager-projects_project_Tabledata" class="person_col"
                            pTooltip="View Project Information" tooltipPosition="top" tooltipStyleClass="small-tooltip">
                            <!-- Display the user section -->
                            <div id="managerX_project-manager-projects_project-user-display_section"
                                class="display_flex_center display_user_section">
                                <!-- Avatar section -->
                                <div id="managerX_project-manager-projects_project-avatar_section"
                                    class="avatar_section">
                                    <img id="managerX_project-manager-projects_project-avatar_image"
                                        *ngIf="!project.Avatar" src="../../../../assets/Images/default_avatar.png">
                                    <img id="managerX_project-manager-projects_project-avatar_image2"
                                        *ngIf="project.Avatar" [src]="project.Avatar">
                                </div>
                                <!-- End of Avatar section -->
                                <!-- Name and role section -->
                                <div id="managerX_project-manager-projects_project-name-role_section"
                                    class="name_role_section">
                                    <!-- Name section -->
                                    <div id="managerX_project-manager-projects_project-name-content_section"
                                        class="content_div">
                                        <span id="managerX_project-manager-projects_project-name-content_name-section"
                                            class="content_val name_section"
                                            *ngIf="project.FirstName != ''">{{project.FirstName}}
                                            {{project.LastName}}</span>
                                        <span
                                            id="managerX_project-manager-projects_project-name-content_name-section-value"
                                            class="content_val name_section" *ngIf="!(project.FirstName != '')">-</span>
                                    </div>
                                    <!-- End of Name section -->
                                </div>
                                <!-- End of Name and role section -->
                            </div>
                            <!-- End of Display the user section -->
                        </td>

                        <td id="managerX_project-manager-projects_project-address_Tabledata" class="role_name_col"
                            pTooltip="View Project Information" tooltipPosition="top" tooltipStyleClass="small-tooltip">
                            <div id="managerX_project-manager-projects_project-address_container"
                                class="display_flex_center value_content_lbl_table">
                                <span id="managerX_project-manager-projects_project-address_address-text"
                                    class="content_lbl" *ngIf="project.Address && project.Address != ''">{{
                                    project.Address}}</span>
                                <span id="managerX_project-manager-projects_project-address_address-label"
                                    class="content_lbl" *ngIf="!(project.Address && project.Address != '')">{{
                                    project.Address}}</span>
                            </div>
                        </td>

                        <td id="managerX_project-manager-projects_project-stage_Tabledata" class="person_col"
                            pTooltip="View Project Information" tooltipPosition="top" tooltipStyleClass="small-tooltip">
                            <!-- Due date section -->
                            <div id="managerX_project-manager-projects_project-stage_container"
                                class="display_flex_center value_content_lbl_table">
                                <span id="managerX_project-manager-projects_project-stage_currentstage"
                                    class="content_lbl" *ngIf="project.CurrentStage && project.CurrentStage != ''">{{
                                    project.CurrentStage}}</span>
                                <span id="managerX_project-manager-projects_project-stage_currentstage-label"
                                    class="content_lbl"
                                    *ngIf="!(project.CurrentStage && project.CurrentStage != '')">-</span>
                            </div>
                            <!-- End of Due date section -->
                        </td>

                        <td id="managerX_project-manager-projects_project-task_Tabledata" class="person_col"
                            pTooltip="View Project Information" tooltipPosition="top" tooltipStyleClass="small-tooltip">
                            <!-- Due date section -->
                            <div id="managerX_project-manager-projects_project-task_container"
                                class="display_flex_center value_content_lbl_table">
                                <span id="managerX_project-manager-projects_project-task_currentTask"
                                    class="content_lbl" *ngIf="project.CurrentTask && project.CurrentTask != ''">{{
                                    project.CurrentTask}}</span>
                                <span id="managerX_project-manager-projects_project-task_currentTask-label"
                                    class="content_lbl"
                                    *ngIf="!(project.CurrentTask && project.CurrentTask != '')">-</span>
                            </div>
                            <!-- End of Due date section -->
                        </td>

                        <td id="managerX_project-manager-projects_project-due-date_Tabledata" class="person_col"
                            pTooltip="View Project Information" tooltipPosition="top" tooltipStyleClass="small-tooltip">
                            <!-- Due date section -->
                            <div id="managerX_project-manager-projects_project-due-date_section"
                                class="display_flex_center value_content_lbl_table">
                                <span id="managerX_project-manager-projects_project-due-date_DueDate-section"
                                    class="content_lbl" *ngIf="project.DueDate">
                                    {{ project.DueDate | date: 'dd MMM yyyy'}}
                                </span>
                                <span id="managerX_project-manager-projects_project-due-date_DueDate-label"
                                    class="content_lbl" *ngIf="!project.DueDate">-</span>
                            </div>
                            <!-- End of Due date section -->
                        </td>

                        <td id="managerX_project-manager-projects_project-phone-number_Tabledata"
                            class="contact_address_col" pTooltip="View Project Information" tooltipPosition="top"
                            tooltipStyleClass="small-tooltip">
                            <!-- Due date section -->
                            <div id="managerX_project-manager-projects_project-phone-number_section"
                                class="display_flex_center value_content_lbl_table">
                                <span id="managerX_project-manager-projects_project-phone-number_PhoneNumber-section"
                                    class="content_lbl" *ngIf="project.PhoneNumber && project.PhoneNumber != ''">{{
                                    project.PhoneNumber}}</span>
                                <span id="managerX_project-manager-projects_project-phone-number_PhoneNumber-label"
                                    class="content_lbl"
                                    *ngIf="!(project.PhoneNumber && project.PhoneNumber != '')">-</span>
                            </div>
                            <!-- End of Due date section -->
                        </td>
                    </tr>
                </ng-template>
                <!-- Table body content section -->
            </p-table>
            <!-- End of Current prime ng table section -->

            <!--End of Client list table-->
            <div id="managerX_project-manager-projects_empty-state_text" *ngIf="clientList.length == 0">
                <div colspan="9" class="empty_content">
                    There are no records to display
                </div>
            </div>
            <!-- Pagination section -->
            <p-paginator class="paginator_sec" #modulePaginator id="managerX_project-manager-projects_section"
                *ngIf="clientList && clientList.length > 0 && clientList[0].TotalRecords > currentFilter.RecordsPerPage"
                [ngClass]="(clientList && clientList.length > 0 && clientList[0].TotalRecords > currentFilter.RecordsPerPage)?'':'display_hide'"
                [rows]="currentFilter.RecordsPerPage" (onPageChange)="onPageChange($event)"
                [totalRecords]="(clientList.length>0)? clientList[0].TotalRecords:0"></p-paginator>
            <!-- End of Pagination section -->

            <!-- Add new contact button -->
            <div class="col-12 buttons_section" *ngIf="false">
                <button id="managerX_project-manager-projects_add-client_button" class="add_note_btn"
                    (click)="addNewClientOnClick()">
                    <span class="icon_lbl">
                        <i id="managerX_project-manager-projects_add-client_icon" class="fa fa-plus"
                            aria-hidden="true"></i>
                    </span>
                    <span id="managerX_project-manager-projects_add-client_text">Add a new client</span>
                </button>
            </div>
            <!-- End of Add new contact button -->
        </div>
        <!-- End of projects table section -->

        <!-- Display the project details section -->
        <div id="managerX_project-manager-projects_project-details_section" class="col-12"
            *ngIf="currentState == 'PROJECT'">
            <!-- Nav section -->
            <ul id="managerX_project-manager-projects_nav-tabs_section" class="nav nav-tabs custom-nav-tabs" id="myTab"
                role="tablist">
                <li id="managerX_project-manager-projects_project-information_tab" class="nav-item" role="presentation"
                    (click)="selectedSubTab = 'PROJECT_INFORMATION'">
                    <a id="managerX_project-manager-projects_project-information-link_tab" class="nav-link active"
                        id="project-info-tab" data-bs-toggle="tab" href="#project-info" role="tab"
                        aria-controls="project-info" aria-selected="true">Project Information</a>
                </li>
                <li id="managerX_project-manager-projects_checklist_tab" class="nav-item" role="presentation"
                    (click)="selectedSubTab = 'PROJECT_CHECKLIST'">
                    <a id="managerX_project-manager-projects_checklist-link_tab" class="nav-link" id="checklist-tab"
                        data-bs-toggle="tab" href="#checklist" role="tab" aria-controls="checklist"
                        aria-selected="false">Checklist</a>
                </li>
                <li id="managerX_project-manager-projects_contract_tab" class="nav-item" role="presentation"
                    (click)="selectedSubTab = 'PROJECT_CONTRACT'">
                    <a id="managerX_project-manager-projects_contract-link_tab" class="nav-link" id="contract-tab"
                        data-bs-toggle="tab" href="#contract" role="tab" aria-controls="contract"
                        aria-selected="false">Contract</a>
                </li>
            </ul>
            <!-- End of Nav section -->

            <!-- Project information section -->
            <div id="managerX_project-manager-projects_project-information_tab-content" class="tab-content"
                class="col-12" id="myTabContent">
                <div id="managerX_project-manager-projects_project-info_tab-pane"
                    *ngIf="selectedSubTab == 'PROJECT_INFORMATION'" class="tab-pane fade show active col-12"
                    id="project-info" role="tabpanel" aria-labelledby="project-info-tab">
                    <!-- First col section -->
                    <div id="managerX_project-manager-projects_first-col_section" class="col-6">
                        <!-- Each row section: Start Date -->
                        <div id="managerX_project-manager-projects_start-date_row" class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_start-date_label" class="label_div_section">
                                <p id="managerX_project-manager-projects_start-date_label-paragraph" class="label_para">
                                    <i id="managerX_project-manager-projects_start-date_label-icon"
                                        class="fa fa-calendar-o" aria-hidden="true"></i>
                                    <span>Start Date:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_start-date_value" class="value_div_section">
                                <p id="managerX_project-manager-projects_start-date_value-text" class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.StartDate | date: 'dd MMMM, yyyy' }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Start Date -->

                        <!-- Each row section: Delivery Date -->
                        <div id="managerX_project-manager-projects_delivery-date_row" class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_delivery-date_label" class="label_div_section">
                                <p id="managerX_project-manager-projects_delivery-date_label-text" class="label_para">
                                    <i id="managerX_project-manager-projects_delivery-date_label-icon"
                                        class="fa fa-anchor"></i>
                                    <span>Delivery Date:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_delivery-date_value" class="value_div_section">
                                <p id="managerX_project-manager-projects_delivery-date_value-text" class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span id="managerX_project-manager-projects_delivery-date_value-date-text"
                                        *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.DeliveryDate | date: 'dd MMMM yyyy' }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Delivery Date -->

                        <!-- Each row section: Project duration -->
                        <div id="managerX_project-manager-projects_project-duration_row"
                            class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_project-duration_label"
                                class="label_div_section">
                                <p id="managerX_project-manager-projects_project-duration_label-text"
                                    class="label_para">
                                    <i id="managerX_project-manager-projects_project-duration_label-icon"
                                        class="fa fa-clock-o"></i>
                                    <span id="managerX_project-manager-projects_project-duration_duration-text">Project
                                        Duration:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_project-duration_value"
                                class="value_div_section">
                                <p id="managerX_project-manager-projects_project-duration_value-text"
                                    class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span
                                        id="managerX_project-manager-projects_project-duration_current-project-duration-text"
                                        *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.ProjectDuration }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Project duration -->
                    </div>
                    <!-- End of First col section -->

                    <!-- Second col section -->
                    <div id="managerX_project-manager-projects_second-col_section" class="col-6">
                        <!-- Each row section: Owner -->
                        <div id="managerX_project-manager-projects_owner_row" class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_owner_label" class="label_div_section">
                                <p id="managerX_project-manager-projects_owner_label-para" class="label_para">
                                    <i id="managerX_project-manager-projects_owner_label-icon" class="fa fa-user-o"></i>
                                    <span>Owner:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_owner_value" class="value_div_section">
                                <p id="managerX_project-manager-projects_owner_value-text" class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span id="managerX_project-manager-projects_owner_currentProjectDetails-text"
                                        *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.Owner }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Owner -->

                        <!-- Each row section: Address -->
                        <div id="managerX_project-manager-projects_address_row" class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_address_label" class="label_div_section">
                                <p id="managerX_project-manager-projects_address_label-text" class="label_para">
                                    <i id="managerX_project-manager-projects_address_label-icon"
                                        class="fa fa-map-marker"></i>
                                    <span>Address:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_address_value" class="value_div_section">
                                <p id="managerX_project-manager-projects_address_value-text" class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span d="managerX_project-manager-projects_address_currentProjectDetails-text"
                                        *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.Address }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Address -->

                        <!-- Each row section: Project Manager Company -->
                        <div id="managerX_project-manager-projects_project-manager-company_row"
                            class="col-12 each_row_section">
                            <!-- Label section -->
                            <div id="managerX_project-manager-projects_project-manager-company_label"
                                class="label_div_section">
                                <p id="managerX_project-manager-projects_project-manager-company_label-text"
                                    class="label_para">
                                    <i id="managerX_project-manager-projects_project-manager-company_label-icon"
                                        class="fa fa-wrench"></i>
                                    <span
                                        id="managerX_project-manager-projects_project-manager-company_text-appUpdateUserType">{{'PM'
                                        | appUpdateUserType}} Company:</span>
                                </p>
                            </div>
                            <!-- End of Label section -->

                            <!-- Value section -->
                            <div id="managerX_project-manager-projects_project-manager-company_value"
                                class="value_div_section">
                                <p id="managerX_project-manager-projects_project-manager-company_value-text"
                                    class="value_label">
                                    <span *ngIf="currentProjectDetails && currentProjectDetails.Id == 0"> - </span>
                                    <span
                                        id="managerX_project-manager-projects_project-manager-company_BuilderCompany-text"
                                        *ngIf="currentProjectDetails && currentProjectDetails.Id !== 0">
                                        {{ currentProjectDetails.BuilderCompany }}
                                    </span>
                                </p>
                            </div>
                            <!-- End of Value section -->
                        </div>
                        <!-- End of Each row section: Project Manager Company -->
                    </div>
                    <!-- End of Second col section -->
                </div>

                <!-- Project Checklist section -->
                <div id="managerX_project-manager-projects_project-checklist_tab-section"
                    *ngIf="selectedSubTab == 'PROJECT_CHECKLIST'" class="tab-pane fade show active" id="contract"
                    role="tabpanel" aria-labelledby="contract-tab">
                    <app-admin-checklist id="managerX_project-manager-projects_admin-checklist"
                        [SelectedClientId]="currentClientDetails.Id" [DisplayTopBar]="false"></app-admin-checklist>
                </div>
                <!-- End of Project Checklist section-->

                <!-- Project Contract section -->
                <div id="managerX_project-manager-projects_project-contract_tab-section"
                    *ngIf="selectedSubTab == 'PROJECT_CONTRACT'" class="tab-pane fade show active" id="contract"
                    role="tabpanel" aria-labelledby="contract-tab">
                    <app-admin-project-contract id="managerX_project-manager-projects_admin-project-contract"
                        [SelectedClientId]="currentClientDetails.Id"
                        [DisplayTopBar]="false"></app-admin-project-contract>
                </div>
                <!-- End of Project Contract section-->
            </div>
            <!-- End of Project information section -->


        </div>
        <!-- End of Display the project details section -->
    </div>
    <!-- End of Main content section -->

    <!-- Display side panel -->
    <p-sidebar id="managerX_project-manager-projects_sidebar_section" *ngIf="isAddNewClientDetailsVisible"
        class="projects_slide" [(visible)]="isAddNewClientDetailsVisible" [position]="'right'" [modal]="true">
        <app-new-client (closeSlideInPopup)="closeSlideInPopup($event)"
            [SelectedPersonClientId]="SelectedPersonClientId"></app-new-client>
    </p-sidebar>
    <!-- End of Display side panel -->
</ion-content>